.job-card {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: #fff;
    margin-bottom: 1em;
    padding: 0.5em 0;
    font-size: 0.75rem;
}

.font-icon {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.name-and-time {
    padding: 1em 0;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    display: flex;
}

.first-initial-letter {
    margin: 0 0.5em 0 1em;
    padding-top: 0.2em;
    font-size: 1.5em;
    color: #fff;
    height:2em;
    width: 2em;
    background-color: rgb(243, 154, 64);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    float:left;
    font-weight: 600;
}
.name-create-time {
    margin: 0;
}
.firstname {
    font-weight: bold;
}
.create-time {
    font-size: 0.7rem;
}
.suburb-and-category {
    padding: 1em 0;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
}

.job-card i {
    padding: 0 0.5em 0.1em 1.5em;
    
}
.description {
    padding: 1em 0;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
}
.description p {
    padding: 0 1.5em;
}
.lead-price {
    font-weight: bold;
}

.job-card button {
    font-size: 1em;
    font-weight: bold;
    background-color:  rgb(242, 242, 242);
    box-shadow: 0px 1px #888888;
    height: 2.5em;
    width: 7em ;
    margin: 1em 0.5em 0.75em 1.5em;
    outline: none;
    border: 0;
    padding: 0;
    border-radius: 5%;
}

.decline {
    margin-left: 0 !important;
}

.job-card button:hover, .job-card button:focus {
    background-color: #ff5f09; 
    color: #fff;
}

.phone-and-email {
    padding: 1em 0;
    border-bottom: thin solid rgba(0, 0, 0, 0.1);
    color: #ff5f09;
    font-weight: bold;
}

.phone-and-email p {
    padding: 0.5em 1.5em;
    font-weight: normal;
    color: #212529;
}

